AZ_LOCATION=<AZ_LOCATION>
AZ_GROUP_NAME=<AZ_GROUP_NAME>
AZ_AKS_CLUSTER_NAME=<AZ_AKS_CLUSTER_NAME>
AZ_AKS_VM_SIZE=<AZ_AKS_VM_SIZE>
AZ_AKS_NODE_COUNT=<AZ_AKS_NODE_COUNT>
AZ_TENANT_ID=<AZ_TENANT_ID>
AZ_APP_ID=<AZ_APP_ID>
AZ_APP_CLIENT_SECRET=<AZ_APP_CLIENT_SECRET>