---
apiVersion: carto.run/v1alpha1
kind: ClusterSupplyChain
metadata:
  name: <SUPPLY_CHAIN_NAME>
spec:
  selector:
<WORKLOAD_SELECTORS>
  serviceAccountRef:
    name: <CARTO_SERVICE_ACCOUNT_NAME>
    namespace: default
  resources:
