---
apiVersion: carto.run/v1alpha1
kind: ClusterSupplyChain
metadata:
  name: <SUPPLY_CHAIN_NAME>
spec:
  selector:
    app.tanzu.vmware.com/workload-type: <WORKLOAD_TYPE_NAME>
  serviceAccountRef:
    name: <CARTO_SERVICE_ACCOUNT_NAME>
    namespace: default
  resources:
