source_grype:
  template_name: <CARTO_SOURCE_GRYPE_TEMPLATE_NAME>
  tekton_task_type: <CARTO_GRYPE_TEKTON_TASK_TYPE>
  tekton_task_name: <CARTO_GRYPE_TEKTON_TASK_NAME>
  registry_secret: <CARTO_GRYPE_REGISTRY_SECRET_NAME>
  config_secret: <CARTO_GRYPE_CONFIG_SECRET_NAME>

