gitwriter:
  template_name: <CARTO_GITWRITER_TEMPLATE_NAME>
  tekton_task_type: <CARTO_GITWRITER_TEKTON_TASK_TYPE>
  tekton_task_name: <CARTO_GITWRITER_TEKTON_TASK_NAME>
  repository: <CARTO_GITWRITER_REPOSITORY>
  branch: <CARTO_GITWRITER_BRANCH>
  user_name: <CARTO_GITWRITER_USERNAME>
  user_email: <CARTO_GITWRITER_EMAIL>
  commit_message: <CARTO_GITWRITER_COMMIT_MESSAGE>