#@ load("@ytt:data", "data")
---
apiVersion: carto.run/v1alpha1
kind: ClusterRunTemplate
metadata:
  name: #@ data.values.test.template_name + "-run"
spec:
  outputs:
    url: spec.params[?(@.name=="blob-url")].value
    revision: spec.params[?(@.name=="blob-revision")].value
  template:
    apiVersion: tekton.dev/v1beta1
    kind: TaskRun
    metadata:
      generateName: $(runnable.metadata.name)$-
    spec:
      serviceAccountName: $(runnable.spec.inputs.serviceAccountName)$
      taskRef: $(runnable.spec.inputs.taskRef)$
      params: $(runnable.spec.inputs.params)$
---
apiVersion: carto.run/v1alpha1
kind: ClusterSourceTemplate
metadata:
  name: #@ data.values.test.template_name
spec:
  urlPath: .status.outputs.url
  revisionPath: .status.outputs.revision

  template:
    apiVersion: carto.run/v1alpha1
    kind: Runnable
    metadata:
      name: #@ data.values.test.template_name + "-" + $(workload.metadata.name)$ + "-runnable"
    spec:
      serviceAccountName: #@ data.values.service_account.name
      runTemplateRef:
        name: #@ data.values.test.template_name + "-run"

      inputs:
        serviceAccountName: #@ data.values.service_account.name
        taskRef:
          kind: #@ data.values.test.tekton_task_type
          name: #@ data.values.test.tekton_task_name
        source: $(source)$
        params:
          - name: blob-url
            value: $(source.url)$
          - name: blob-revision
            value: $(source.revision)$