    - name: config-provider
      templateRef:
        kind: ClusterConfigTemplate
        name: <CONFIG_TEMPLATE_NAME>
      images:
        - resource: <CONFIG_PROVIDER_DEPENDENCY_RESOURCE_NAME>
          name: image
