---
apiVersion: tekton.dev/v1beta1
kind: ClusterTask
metadata:
  name: <TEKTON_TASK_NAME_FOR_MAVEN_TEST>
  labels:
    apps.tanzu.vmware.com/task: test
spec:
  params:
    - name: blob-url
    - name: blob-revision
  steps:
    - name: test
      image: maven:3.8.5-openjdk-18-slim 
      script: |-
        cd `mktemp -d`
        curl -SL $(params.blob-url) | tar xvzf -
        mvn test