apiVersion: v1
kind: Secret
metadata:
  name: <K8S_BASIC_SECRET_NAME>
  annotations:
    kpack.io/git: <K8S_BASIC_SECRET_GIT_SERVER>       #!required
    tekton.dev/git-0: <K8S_BASIC_SECRET_GIT_SERVER>   #!required
type: kubernetes.io/basic-auth
stringData:
  username: <K8S_BASIC_SECRET_USERNAME>
  password: <K8S_BASIC_SECRET_PASSWORD>