apiVersion: kpack.io/v1alpha2
kind: ClusterStack
metadata:
  name: <KPACK_CLUSTERSTACK_NAME>
spec:
  id: "io.buildpacks.stacks.bionic"
  buildImage:
    image: "<KPACK_CLUSTERSTACK_BUILD_IMAGE>"
  runImage:
    image: "<KPACK_CLUSTERSTACK_RUN_IMAGE>"