profile: lite
ceip_policy_disclosed: "true" # Installation fails if this not set to `true`

metadata_store:
  app_service_type: LoadBalancer # (optional) Defaults to LoadBalancer. Change to NodePort for distributions that don't support LoadBalancer

