supply_chain: basic

ootb_supply_chain_basic:
  registry:
    server: "<CARTO_CATALOG_PVT_REGISTRY_SERVER>"
    repository: "<PVT_REGISTRY_REPO>"
  gitops:
    repository_prefix: "<DELIVERABLE_REPOSITORY_PREFIX>"
    branch: "<DELIVERABLE_REPOSITORY_BRANCH_NAME>"
    user_name: "<DELIVERABLE_REPOSITORY_USER_NAME>"
    user_email: "<DELIVERABLE_REPOSITORY_USER_EMAIL>"
    commit_message: "delivery"
    ssh_secret: "<GITOPS_SECRET_NAME>"
  cluster_builder: default
  service_account: default


  