profile: full

shared:
  ingress_domain: "<INGRESS-DOMAIN>"
  image_registry:
    project_path: "<PVT_REGISTRY_SERVER>/<PVT_REGISTRY_PROJECT_REPO>"
    username: "<PVT_REGISTRY_USERNAME>"
    password: "<PVT_REGISTRY_PASSWORD>"

ceip_policy_disclosed: true 

metadata_store:
  app_service_type: ClusterIP # (optional) Defaults to LoadBalancer. Change to NodePort for distributions that don't support LoadBalancer
  ns_for_export_app_cert: "*"
