profile: run

shared:
  ingress_domain: "<INGRESS-DOMAIN>"

ceip_policy_disclosed: true 

supply_chain: basic

contour:
  envoy:
    service:
      type: LoadBalancer

cnrs:
  domain_name: apps.<INGRESS-DOMAIN>
  domain_template: "{{.Name}}-{{.Namespace}}.{{.Domain}}"


appliveview_connector:
  backend:
    sslDisabled: <IS-APP-LIVE-VIEW-SSL-DISABLED>
    ingressEnabled: true
    host: appliveview.<APP-LIVE-VIEW-INGRESS-DOMAIN>

