.bash_history
.kube
.local
.docker
.vmware-cna-saas
.azure
.tanzu
.ssh
.kube-tkg
.images
.config
tanzu
tanzu-cluster-essentials
*.tgz
*.tar
.m2
.tilt-dev
.vscode
.vscode-server
.cache
apps
.m2
.redhat
.sts4
.tilt-dev
.vscode
.vscode-server
.git-ops