.env
*.nogit*
.bash_history
*.crt
.local
.azure
.bak
.nogit
.cache/
.config/
.vmware-cna-saas
.docker
tanzu-cluster-essentials
tanzu
.m2
.redhat
.sts4
.tilt-dev
.vscode
.vscode-server

.git-ops/*
!.git-ops/.gitkeep
.ssh/*
!.ssh/.gitkeep
.kube/*
!.kube/.gitkeep
binaries/*
!binaries/.gitkeep
!binaries/scripts
!binaries/installpackagerepository.sh
!binaries/installprofile.sh
!binaries/generate-profile-file.sh
!binaries/installdevnamespace.sh
!binaries/createakscluster.sh
!binaries/init.sh
!binaries/templates
tapconfigs/*
!tapconfigs/.gitkeep
apps/*
!apps/.gitkeep