.env
*.nogit*
.bash_history
*.crt
.local
.azure
.bak
.nogit
.cache/
.config/
.vmware-cna-saas
.docker

.ssh/*
!.ssh/.gitkeep
.kube/*
!.kube/.gitkeep
binaries/*
!binaries/.gitkeep
!binaries/tapinstall.sh
!binaries/generate-profile-file.sh
!binaries/init.sh
!binaries/taptemplates
tanzu-cluster-essentials
