buildservice:
  kp_default_repository: "<KP-DEFAULT-REPO>"
  kp_default_repository_username: "<KP-DEFAULT-REPO-USERNAME>"
  kp_default_repository_password: "<KP-DEFAULT-REPO-PASSWORD>"
  tanzunet_username: "<INSTALL_REGISTRY_USERNAME>"
  tanzunet_password: "<INSTALL_REGISTRY_PASSWORD>"
  descriptor_name: "<DESCRIPTOR_NAME>"
  enable_automatic_dependency_updates: true